{{ form_start(form) }}
{{ form_widget(form) }}

<div class="d-flex justify-content-between">
	<a class="btn btn-tertiary" href="{{ path('app_location_index') }}">Retour</a>
	<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>

{{ form_end(form) }}
