{% extends 'base.html.twig' %}

{% block title %}Location index
{% endblock %}

{% block body %}

	<div class="container mt-5">
		{% include "./components/admin/adminMenu.html.twig" %}
	</div>
	<section class="container border px-3 py-5 mb-5">
		<h1>Géoposition</h1>

		<div class="d-flex justify-content-end my-3">
			<a class="btn btn-primary" href="{{ path('app_location_new') }}">Crée une nouvelle position</a>
		</div>

		<table class="table box-shadow-bot">
			<thead class="bg-primary-container">
				<tr>
					<th>Id</th>
					<th>Ville</th>
					<th>Vallée</th>
					<th>Latitude</th>
					<th>Longitude</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for location in locations %}
					<tr>
						<td>{{ location.id }}</td>
						<td>{{ location.city }}</td>
						<td>{{ location.valley }}</td>
						<td>{{ location.latitude }}</td>
						<td>{{ location.longitude }}</td>
						<td class="d-flex gap-2">
							<a class="btn btn-sm btn-primary d-flex align-items-center gap-1" href="{{ path('app_location_show', {'id': location.id}) }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewbox="0 0 16 16">
									<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
									<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
								</svg>

								<span>Voir</span>
							</a>
							<a class="btn btn-sm btn-secondary d-flex align-items-center gap-1" href="{{ path('app_location_edit', {'id': location.id}) }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewbox="0 0 16 16">
									<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
									<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
								</svg>

								<span>Modifier</span>
							</a>

							{{ include('admin_location/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	</section>
{% endblock %}
