{{ form_start(form) }}
{{ form_widget(form) }}
<div class="d-flex justify-content-between my-3">
    <a class="btn btn-tertiary" href="{{ path('app_admin_poi_index') }}">Retour</a>
    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}
